<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="haven.fenghua.dao.UserMapper">
  <resultMap id="BaseResultMap" type="haven.fenghua.model.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="last_update_time" jdbcType="BIGINT" property="lastUpdateTime" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
    <result column="login_name" jdbcType="VARCHAR" property="loginName" />
    <result column="login_pwd" jdbcType="VARCHAR" property="loginPwd" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
  </resultMap>
</mapper>